@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu+Mono&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
}
body {
  width: 100%;
}
body nav {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body nav #nav-logo img {
  width: 50px;
  height: 50px;
}
body nav #nav-links ul {
  display: flex;
  flex-direction: row;
}
body nav #nav-links ul li {
  margin: 0 20px;
  list-style-type: none;
  font-size: 20px;
}
